doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        link(rel="stylesheet" href="css/style.min.css")
    body
        header
        section.content
            aside
                .aside__top
                .aside__bottom
            section.tabs
                input(type="radio" name="tabs" id="tab1" checked)
                label.tab_label.tab_label-first(for="tab1") Travel Documents
                input(type="radio" name="tabs" id="tab2")
                label.tab_label(for="tab2") Loyalty Programs
                input(type="radio" name="tabs" id="tab3")
                label.tab_label.tab_label-third(for="tab3") Travel Preferences
                div#tab1.tab.content1
                    include tab-1
                div.tab.content2
                div.tab.content3
                    include tab-3
            include modal
    script(src="js/main.min.js")
