.modal-window#modal
    .modal-content
        .modal-header
            .modal__title Add new passport
            button.modal__close-button
                include ../images/close-button.svg
        .modal-form
            .modal-form__row
                input.modal__input(placeholder="First Name")
                input.modal__input(placeholder="Last Name")
            .modal-form__row
                input.modal__input(placeholder="Passport Number")
                .modal__select
                    select
                        option Passport Country
                        .modal__select-arrow
                    include ../images/arrow-down.svg
            .modal-form__row
                .input-pass-wrapper
                    input.modal__input(placeholder="Passport Expiration Date")
                    include ../images/passport-icon.svg
                .modal__select
                    select
                        option Nationality
                        .modal__select-arrow
                    include ../images/arrow-down.svg
            button.submit-btn(type="submit") Save

