.rating__wrapper
    .checkbox
        input#checkbox_1(type="checkbox")
        label.label_checkbox(for="checkbox_1")
    .rating
        input#star1(type="radio" name="rating")
        label.label_star(for="star1")
        input#star2(type="radio" name="rating")
        label.label_star(for="star2")
        input#star3(type="radio" name="rating")
        label.label_star(for="star3")
        input#star4(type="radio" name="rating")
        label.label_star(for="star4")
        input#star5(type="radio" name="rating")
        label.label_star(for="star5")
.rating__wrapper
    .checkbox
        input#checkbox_2(type="checkbox")
        label.label_checkbox(for="checkbox_2")
    .rating
        input#star6(type="radio" name="rating")
        label.label_star(for="star6")
        input#star7(type="radio" name="rating")
        label.label_star(for="star7")
        input#star8(type="radio" name="rating")
        label.label_star(for="star8")
        input#star9(type="radio" name="rating")
        label.label_star(for="star9")
        input#star10(type="radio" name="rating")
        label.label_star(for="star10")
.rating__wrapper
    .checkbox
        input#checkbox_3(type="checkbox")
        label.label_checkbox(for="checkbox_3")
    .rating
        input#star11(type="radio" name="rating")
        label.label_star(for="star11")
        input#star12(type="radio" name="rating")
        label.label_star(for="star12")
        input#star13(type="radio" name="rating")
        label.label_star(for="star13")
        input#star14(type="radio" name="rating")
        label.label_star(for="star14")
        input#star15(type="radio" name="rating")
        label.label_star(for="star15")
.rating__wrapper
    .checkbox
        input#checkbox_4(type="checkbox")
        label.label_checkbox(for="checkbox_4")
    .rating
        input#star16(type="radio" name="rating")
        label.label_star(for="star16")
        input#star17(type="radio" name="rating")
        label.label_star(for="star17")
        input#star18(type="radio" name="rating")
        label.label_star(for="star18")
        input#star19(type="radio" name="rating")
        label.label_star(for="star19")
        input#star20(type="radio" name="rating")
        label.label_star(for="star20")
.rating__wrapper
    .checkbox
        input#checkbox_5(type="checkbox")
        label.label_checkbox(for="checkbox_5")
    .rating
        input#star21(type="radio" name="rating")
        label.label_star(for="star21")
        input#star22(type="radio" name="rating")
        label.label_star(for="star22")
        input#star23(type="radio" name="rating")
        label.label_star(for="star23")
        input#star24(type="radio" name="rating")
        label.label_star(for="star24")
        input#star25(type="radio" name="rating")
        label.label_star(for="star25")