.preferences__row
    .preferences__title Preffered Airlines
    .preferences__dropdown
        select(disabled)
           option Add airlines
           option Singapore Airlines
           option Qatar Airways
           option ANA All Nippon Airways
           option Emirates
        .preferences__dropdown-arrow
            include ../images/arrow-down.svg
.preferences__row.preferences__row_tag
    .preferences__tag Singapore Airlines
        include ../images/close-icon.svg
    .preferences__tag Qatar Airways
        include ../images/close-icon.svg
    .preferences__tag ANA All Nippon Airways
        include ../images/close-icon.svg
    .preferences__tag Emirates
        include ../images/close-icon.svg
.preferences__row
    .preferences__title Preferred Hotel Brands
    .preferences__dropdown
        select(disabled)
            option Add Hotel Brands
            option Hilton
            option Westin
            option Four Seasons
            option Ritz-Carlton
        .preferences__dropdown-arrow
            include ../images/arrow-down.svg
.preferences__row.preferences__row_tag
    .preferences__tag Add Hotel Brands
        include ../images/close-icon.svg
    .preferences__tag Hilton
        include ../images/close-icon.svg
    .preferences__tag Westin
        include ../images/close-icon.svg
    .preferences__tag Ritz-Carlton
        include ../images/close-icon.svg
.preferences__row.preferences__row_rating
    .preferences__title.preferences__title_rating  Preferred by Stars
    .preferences__stars
        include star-rating