- var list = [{"icon": "ukraine-icon", "name": "Ukraine", "id": "FJ22346", "date": "April 25, 2020"},{"icon": "uk-icon", "name": "United Kingdom", "id": "FJ22346", "date": "April 25, 2020"}];
- var closeIconPath = "../images/close-icon.svg"
each item in list
    - var itemIconPath = item.icon
    .passport-block
        .passport__country
            .passport__name(class=item.icon)= item.name
        .passport__id-date-wrapper
            .passport__id= item.id
            .passport__date= item.date
        .close-icon-wrapper
            include ../images/close-icon.svg
.passport-block.add-block
    include ../images/add-icon.svg
    p.add-block__text Add new passport