.checkbox input[type="checkbox"] {
	opacity: 0;
}

.checkbox {
	margin: 0;
	width: 14px;
	height: 14px;
}

.checkbox label.label_checkbox {
	position: relative;
	display: inline-block;
	
	/*16px width of fake checkbox + 6px distance between fake checkbox and text*/
	padding-left: 0;
	width: 14px;
	height: 14px
}

.checkbox label.label_checkbox::before,
.checkbox label.label_checkbox::after {
	position: absolute;
	content: url("../images/checkbox-unchecked.svg");
	
	/*Needed for the line-height to take effect*/
	display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label.label_checkbox::before{
	height: 14px;
	width: 14px;
}

/*Checkmark of the fake checkbox*/
.checkbox label.label_checkbox::after {
	content: url("../images/checkbox-checked.svg");
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label.label_checkbox::after {
	content: url("../images/checkbox-unchecked.svg");
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label.label_checkbox::after {
	content: url("../images/checkbox-checked.svg");
}