.passport {
	&__country{
		display: flex;
		align-items: center;
		margin-bottom: 18px;
	}
	&-block {
		width: 196px;
		height: 100px;
		border: 1px solid #E3E7ED;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 27px 25px 20px 25px;
		position: relative;
		&:hover {
			.close-icon-wrapper {
				display: block;
			}
		}
	}
	&__name {
		font-family: "RobotoRegular";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		letter-spacing: 0.03em;
		color: #292949;
	}
	&__id {
		font-family: "RobotoRegular";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		letter-spacing: 0.03em;
		color: #7B819A;
	}
	&__date {
		font-family: "RobotoRegular";
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		letter-spacing: 0.03em;
		color: #B0B3C2;
	}
	&__id-date-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.close-icon-wrapper {
	position: absolute;
	top: -8px;
	right: -8px;
	display: none;
}

.add-block {
	width: 196px;
	height: 100px;
	background: #FFFFFF;
	border: 1px dashed #D7D8E0;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 20px 0;
	cursor: pointer;
	&__text {
		font-family: "RobotoRegular";
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		letter-spacing: 0.03em;
		color: #B0B3C2;
		margin: 8px 0 0 0;
	}
}

.content1 {
	display: flex;
	justify-content: space-between;
}

.ukraine-icon {
	&:before{
		content: url("../images/ukraine-icon.svg");
		margin-right: 15px;
	}
}

.uk-icon {
	&:before{
		content: url("../images/uk-icon.svg");
		margin-right: 15px;
	}
}


