@font-face {
	font-family: "CircularBook";
	src: url("../fonts/CircularStd-Book.eot");
}

@font-face {
	font-family: "CircularBook";
	src: url("../fonts/CircularStd-Book.ttf") format("truetype");
}

@font-face {
	font-family: "CircularBook";
	src:  url("../fonts/CircularStd-Book.woff2") format("woff2"),
				url("../fonts/CircularStd-Book.woff") format("woff");
}

@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/Roboto-Regular.eot");
}

@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/Roboto-Regular.woff") format("woff");
}

body{
	color: #444444;
	font-family: Arial;
}

header {
	height: 120px;
	background: #FFFFFF;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
}

aside {
	width: 410px;
	background: #FFFFFF;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	margin-right: 30px;
	display: inline-block;
}

.aside__top {
	height: 555px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
}

.aside__bottom {
	height: 161px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
}

.content {
	padding-top: 30px;
	text-align: center;
}

@import 'tabs';
@import 'checkbox';
@import 'modal';